{% extends 'admin.html.twig' %}

{% block title %}New Author
{% endblock %}

{% block body %}
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<h1>Create new Author</h1>
			{{ include('admin/author/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () { // Get the category name input and slug input elements
const $nameInput = $('#author_name');
const $slugInput = $('#author_slug');
// Function to generate slug from category name
function generateSlug(name) {
return name.toLowerCase().trim().replace(/[^a-zA-Z0-9]+/g, '-');
}

// Event listener for when the user types in the name input
$nameInput.on('input', function () {
const slug = generateSlug($nameInput.val());
$slugInput.val(slug);
});

});
	</script>

{% endblock %}
