{% extends '_layouts/admin/main.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-6">
            <h1>Dashboard</h1>
        </div>
    </div>

{% endblock %}
