{% extends 'auth.html.twig' %}

{% block title %}Trang Chủ | {{ app_name }}{% endblock %}

{% block body %}
    <div data-controller="app" data-x-id="" data-x-class="">
        {% block content %}{% endblock %}
    </div>
{% endblock %}