<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from template.hasthemes.com/pustok/pustok/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 11:25:36 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ app_name }}">
    <meta name="keywords" content="{{ app_name }}">

    <title>{% block title %}Welcome{% endblock %}</title>
    <style>
        body {
            background-color: white !important; /* Change from blue to white */
            color: black; /* Ensure text is readable */
            text-decoration: none;
        }
    </style>
     {% block stylesheets %}
         <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/app/image/favicon.ico') }}">
     {% endblock %}
    </head>

    <body>
    {% include '_widgets/header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include '_widgets/footer.html.twig' %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    </body>
</html>
